*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
a{
    text-decoration: none;
    color: rgb(15, 102, 201);
}
section{
    background-color: rgb(205, 215, 223);
    border-radius: 10px;
    padding: 10px;
}
.section-title{
     color: rgba(127, 197, 255, 0.726);
     margin-top: 30px;
     padding-bottom: 0px;
}
main{
    width: 1200px;
    max-width: 80%;
    margin: 0 auto;
}
.filled{
    color: goldenrod;
    font-size: 0.80em;
}
.unfilled{
    color: gray;
    font-size: 0.80em;
}
.course-info{
    display: flex;
}
.courses{
    padding: 1em;
    
}
.courses img{
    width: 200px;
}

.top-players, .blogs, .courses {
    margin-top: 10px;
    display: grid;
   
}
.top-players, .courses{
    grid-template-columns: repeat(3, 1fr);
}
.blogs{
    grid-template-columns: repeat(2, 1fr);
   
}
.blog-info{
    margin-left: 20px;
}
.players, .blog{
    display: flex;
    align-items: center;
}
.players img {
    height: 50px;
    margin: 10px;
}
.thumbnail img{
     width: 200px;
}
@media (max-width:992px) {
    .top-players, .courses{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
       
    }
}
@media (max-width:668px) {
    .top-players{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .blog, .courses{
        display: block;
    }
}
